<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">
							<b>{{applicationDetails.applicationTypeName}} <span
								ng-if="applicationDetails.loanTypeId == Constant.LoanType.CURRENT_LOAN">({{applicationDetails.leadReferenceNo}})</span></b></a>
						</h4> 
						<p class="pull-right">
							<button class="btn btn-default" onClick="window.history.back()">Back</button>
						</p>
						<p class="category">
							<b>{{applicationDetails.loanTypeName}}</b> <br /> <b>Created
								Date: {{applicationDetails.createdDate | date : 'dd-MM-yyyy'}}</b>
						</p>

					</div>
					<div class="card-content">

						<form name="currentForm" novalidate>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Loan Amount</label> <input
											type="number" class="form-control"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.loanAmount"
											name="loanAmount" data-ng-required="true">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Tenure in Month</label> <input
											type="number" class="form-control"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.tenure" name="tenure"
											data-ng-required="true">
									</div>
								</div>
								<div class="col-md-3"
									ng-if="applicationDetails.loanTypeId == Constant.LoanType.EXISTING_LOAN">
									<div class="form-group">
										<label class="control-label">EMI <span
											class="text-danger">*</span></label> <input type="number"
											data-ng-disabled="editApplicationForm" class="form-control"
											data-ng-model="applicationDetails.emi" name="emi"
											data-ng-required="true">
									</div>
								</div>

								<div class="col-md-3"
									ng-if="applicationDetails.loanTypeId == Constant.LoanType.EXISTING_LOAN">
									<div class="form-group">
										<label class="control-label">Planning to close before
											Disbursement <span class="text-danger">*</span>
										</label> &nbsp&nbsp<input type="radio" ng-value="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.closeBeforeDisbsmnt"
											name="emi">Yes&nbsp&nbsp <input type="radio"
											data-ng-disabled="editApplicationForm" ng-value="false"
											data-ng-model="applicationDetails.closeBeforeDisbsmnt"
											name="emi"> No
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.PERSONAL_LOAN">
									<div class="form-group">
										<label class="control-label">Reason for Personal Loan</label>
										<input type="text" class="form-control"
											data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.reasonForPl"
											name="reasonForPl">
									</div>
								</div>
								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.HOME_LOAN">
									<div class="form-group">
										<label class="control-label">Property Cost</label> <input
											type="number" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.propertyCost"
											name="propertyCost">
									</div>
								</div>
								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.HOME_LOAN
												|| applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
									<div class="form-group">
										<label class="control-label">Property Address</label> <input
											type="text" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.propertyAddress"
											name="propertyAddress">
									</div>
								</div>
								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
									<div class="form-group">
										<label class="control-label">Property Market Value</label> <input
											type="number" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.propertyMarketValue"
											name="propertyMarketValue">
									</div>
								</div>
								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.CAR_LOAN">
									<div class="form-group">
										<label class="control-label">Car Cost</label> <input
											type="text" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.carCost" name="carCost">
									</div>
								</div>

								<div class="col-md-3"
									ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
									<div class="form-group">
										<label class="control-label">Reason For Lap</label> <input
											type="text" class="form-control"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.reasonForLap"
											name="reasonForLap">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Comments</label> <input
											type="text" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="applicationDetails.brRemark" name="carCost">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Loan Category</label> <input
											type="text" class="form-control" data-ng-required="true"
											data-ng-disabled="editApplicationForm"
											data-ng-model="loanCategoryList[applicationDetails.loanCategoryId].name"
											name="carCost">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>PD Reports </b>
									</div>
									<div class="panel-body">
										<div class="panel panel-default"
											data-ng-repeat="document in pdReportDocuments">
											&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-2"
													data-ng-repeat="doc in document.documentResponseList">
													<div>
														<a href="{{doc.filePath}}" download
															class="btn btn-default"> {{doc.originalName}}</a>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center"
														ng-if="document.documentResponseList.length < 1">
														<b>PD Report is Pending</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>FCI Reports </b>
									</div>
									<div class="panel-body">
										<div class="panel panel-default"
											data-ng-repeat="document in fciReportDocuments">
											&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-2"
													data-ng-repeat="doc in document.documentResponseList">
													<div>
														<a href="{{doc.filePath}}" download
															class="btn btn-default"> {{doc.originalName}}</a>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center"
														ng-if="document.documentResponseList.length < 1">
														<b>FCI Report is Pending</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>Discussion With Borrower </b>
									</div>
									<div class="panel-body">
										<div class="row" data-ng-repeat="question in allQuestions">
											<div class="col-md-3">
												<div class="form-group">
													<b>{{question.questionDesc}}</b>
													<br/>
													<b>Answers:</b>&nbsp;{{question.answer}}
												</div>
											</div>
											<div  class="col-md-3" data-ng-if="isEmpty(allQuestions)">Discussion With Borrower Is Pending</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>Documents- &nbsp;{{applicationDetails.firstName}}&nbsp;{{applicationDetails.lastName}}</b>
									</div>
									<div class="panel-body">

										<div class="panel panel-default"
											data-ng-repeat="document in documentList">
											&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-2"
													data-ng-repeat="doc in document.documentResponseList">
													<div>
														<a href="{{doc.filePath}}" download
															class="btn btn-default"> {{doc.originalName}}</a>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center"
														ng-if="document.documentResponseList.length < 1">
														<b>No Documents Attached</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row" data-ng-if="applicationDetails.coapplicants[0]">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>CoApplicant Documents- &nbsp;{{applicationDetails.coapplicants[0].name}}</b>
									</div>
									<div class="panel-body">

										<div class="panel panel-default"
											data-ng-repeat="document in coApplicantDocumentList">
											&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-2"
													data-ng-repeat="doc in document.documentResponseList">
													<div>
														<a href="{{doc.filePath}}" download
															class="btn btn-default"> {{doc.originalName}}</a>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center"
														ng-if="document.documentResponseList.length < 1">
														<b>No Documents Attached</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row"
								data-ng-if="(applicationDetails.status == Constant.Status.ACCEPTED || applicationDetails.status == Constant.Status.FORMAPPLIED || applicationDetails.status == Constant.Status.SANCTIONED || applicationDetails.status == Constant.Status.DISBURSED)">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>Processing Documents</b>
									</div>
									<div class="panel-body">
										<div class="col-md-3">
											<label class="btn btn-default" style="white-space: pre-line;">
												<b>{{processSubmitFormDocuments.documentMstrName}} <span
													class="text-danger">*</span>
											</b> <input type="file" title="Upload size limit 5 MB"
												upload-files
												id="{{processSubmitFormDocuments.documentMstrId}}"
												data-ng-disabled="processSubmitFormDocuments.documentResponseList.length == 1"
												onchange="angular.element(this).scope().uploadAppFile(this);">
											</label>
										</div>

										<div class="col-md-2"
											data-ng-repeat="doc in processSubmitFormDocuments.documentResponseList">
											<div class="input-group">
												<input type="text" class="form-control"
													data-ng-model="doc.originalName" disabled> <span
													class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button"
														ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
												</span>
											</div>
										</div>
										
										<div class="col-md-2"
											data-ng-repeat="doc in processSubmitFormDocuments.documentResponseList">
											<div>
												<a target="_blank" href="{{doc.filePath}}" download
													class="btn btn-default"> {{doc.originalName}}</a>
											</div>
										</div>
									</div>

									<div class="panel-body" data-ng-if="processSubmitFormDocuments.documentResponseList.length == 1">
										<div class="col-md-3">
											<label class="btn btn-default" style="white-space: pre-line;">
												<b>{{processSactionedFormDocuments.documentMstrName}} <span
													class="text-danger">*</span>
											</b> <input type="file" title="Upload size limit 5 MB"
												upload-files
												id="{{processSactionedFormDocuments.documentMstrId}}"
												data-ng-disabled="processSactionedFormDocuments.documentResponseList.length == 1"
												onchange="angular.element(this).scope().uploadAppFile(this);">
											</label>
										</div>

										<div class="col-md-2"
											data-ng-repeat="doc in processSactionedFormDocuments.documentResponseList">
											<div class="input-group">
												<input type="text" class="form-control"
													data-ng-model="doc.originalName" disabled> <span
													class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button"
														
														ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
												</span>
											</div>
										</div>
										
										<div class="col-md-2"
											data-ng-repeat="doc in processSactionedFormDocuments.documentResponseList">
											<div>
												<a target="_blank" href="{{doc.filePath}}" download
													class="btn btn-default"> {{doc.originalName}}</a>
											</div>
										</div>
									</div>
									
									<div class="panel-body" data-ng-if="processSactionedFormDocuments.documentResponseList.length == 1">
										<div class="col-md-3">
											<label class="btn btn-default" style="white-space: pre-line;">
												<b>{{processDisbursedDocumentDocuments.documentMstrName}} <span
													class="text-danger">*</span>
											</b> <input type="file" title="Upload size limit 5 MB"
												upload-files
												id="{{processDisbursedDocumentDocuments.documentMstrId}}"
												onchange="angular.element(this).scope().uploadAppFile(this);">
											</label>
										</div>

										<div class="col-md-2"
											data-ng-repeat="doc in processDisbursedDocumentDocuments.documentResponseList">
											<div class="input-group">
												<input type="text" class="form-control"
													data-ng-model="doc.originalName" disabled> <span
													class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button"
														ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
												</span>
											</div>
										</div>
										
										<div class="col-md-2"
											data-ng-repeat="doc in processDisbursedDocumentDocuments.documentResponseList">
											<div>
												<a target="_blank" href="{{doc.filePath}}" download
													class="btn btn-default"> {{doc.originalName}}</a>
											</div>
										</div>
										
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-4" >
													<div class="form-group">
														<label class="control-label">Actual Disbursment Date<span class="text-danger">*</span></label> 
															<input ng-focus="open()"
															type="text" name="disbursmentDate" class="form-control" id="disbursmentDate"
															uib-datepicker-popup="dd/MM/yyyy"
															data-ng-model="disbursmentDate" is-open="popup.opened"
															ng-required="true" close-text="Close" />
													</div>
													<div class="form-group" >
														<label class="control-label">Actual Disbursment Amount<span class="text-danger">*</span></label> 
															<input type="number" name="disbursmentAmount" class="form-control" id="disbursmentAmount"
															data-ng-model="disbursmentAmount"  ng-required="true" />
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="panel-body">
										<div class="col-md-4 ">
											<button type="button" 
											data-ng-if="(applicationDetails.status == Constant.Status.ACCEPTED || applicationDetails.status == Constant.Status.FORMAPPLIED)" 
											class="btn btn-primary" data-dismiss="modal" data-ng-click="updateStatus()">Update</button>
											
											<button type="button" 
											data-ng-if="(applicationDetails.status == Constant.Status.SANCTIONED || applicationDetails.status == Constant.Status.DISBURSED)" 
											class="btn btn-primary" data-dismiss="modal" data-ng-click="autoUpdateStatus()">Update</button>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Disbursment list -->
							<div class="row" data-ng-if="disbursmentList.length > 0">
								<div class="panel panel-default">
									<div class="panel-heading">
										<b>Disbursment History</b>
									</div>
									<div class="panel-body">
										<div class="panel panel-default" >
											<div class="panel-body">
												<div class="col-md-4" >
													<table class="table table-striped custom-table">
														<thead class="text-primary">
															<tr>
																<th>Disbursment Date</th>
																<th>Disbursment Amount</th>
															</tr>
														</thead>
														<tbody>
															<tr data-ng-repeat="loanDtls in disbursmentList">
																<td>{{loanDtls.disbursmentDate | date : dateFormate}}</td>
																<td>{{loanDtls.disbursmentAmount}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default"
										data-ng-if="applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN">
										<div class="panel-heading">
											<b>Lender Responses</b>&nbsp;&nbsp;<span class="badge">{{connections.length}}</span><select
												class="form-control" data-ng-model="status"
												data-ng-options="status as status for status in statuses"
												data-ng-change="getConnections(applicationId,status)">
											</select>
										</div>
										<div class="panel-body">
											<table class="table table-striped custom-table">
												<thead class="text-primary">
													<tr>
														<th style="width: 5%">No.</th>
														<th>Bank</th>
														<th>Loan Possible Amount</th>
														<th>ROI</th>
														<th>Tenure</th>
														<th>Processing Fees</th>
														<th>Terms and Conditions</th>
														<th>Status</th>
													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat-start="con in connections">
														<td>{{$index + 1}}</td>
														<td>{{con.applicationMappingBO.user.bank.name ||
															Constant.NA }}</td>
														<td>{{con.loanPossibleAmount || Constant.NA}}</td>
														<td>{{con.roi | number : 2 || Constant.NA}}</td>
														<td>{{con.tenure || Constant.NA}} Month</td>
														<td>{{con.processingFees || Constant.NA}}</td>
														<td>{{con.termAndCondition || Constant.NA}}</td>
														<td>{{con.status || 'NA'}}</td>
													</tr>

													<tr data-ng-repeat-end>
														<td colspan="8" data-ng-show="con.isView">
															<table class="table table-striped table-bordered">
																<thead class="text-primary">
																	<tr>
																		<th>Name</th>
																		<th>Email</th>
																		<th>Mobile</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>{{(!isEmpty(con.applicationMappingBO.user.firstName)
																			&& !isEmpty(con.applicationMappingBO.user.lastName) ?
																			user.firstName + ' ' +
																			con.applicationMappingBO.user.lastName :
																			con.applicationMappingBO.user.firstName ||
																			Constant.NA )}}</td>
																		<td>{{con.applicationMappingBO.user.email ||
																			Constant.NA }}</td>
																		<td>{{con.applicationMappingBO.user.mobile ||
																			Constant.NA}}</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr data-ng-if="isEmpty(connections)">
														<td colspan="8" class="alert alert-default text-center">No
															{{status}} Response Yet!</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>