
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">
						<b>{{userData.firstName}} {{userData.lastName}}</b></a>
					</h4>

					<select class="form-control" data-ng-model="coApplicantUserId"
						name="coApplicantUser" ng-change="openModal();"
						data-ng-options="coApplicant.id as coApplicant.nameOfCoapplicant for coApplicant in userData.userCoapplicants">
						<option value="">Select Co-Applicant</option>
					</select>
				</div>
				<div class="card-content">

					<!-- Personal Details -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Borrower Details</b> <a style="margin-top: -2px"
								class="btn btn-xs pull-right" ng-click="showMore = !showMore">
								<spna ng-show="!showMore">Show More</spna> <spna
									ng-show="showMore">Hide</spna>
							</a>
						</div>
						<div class="panel-body">

							<div class="col-md-12">
								<h5>Personal Details</h5>
							</div>

							<div class="col-md-2">
								<label>First Name</label>
								<div>{{userData.firstName}}</div>
							</div>

							<div class="col-md-2">
								<label>Middle Name</label>
								<div>{{userData.middleName || 'N.A'}}</div>
							</div>

							<div class="col-md-2">
								<label>Last Name</label>
								<div>{{userData.lastName}}</div>
							</div>
							
							<div class="col-md-2">
								<img src="{{brProfileImageData.filePath}}"
									onerror="this.onerror=null; this.src='assets/img/default-pic.jpg';"
									style="height: 200px; width: 200px" class="img-rounded"
									alt="Cinque Terre">
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-4">
								<label>Contact Number</label>
								<div>{{userData.contactNumber || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>Gender</label>
								<div>{{getGenderById(userData.gender) || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>Education Qualification</label>
								<div>{{userData.eduQualification || 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-4">
								<label>Date Of Birth</label>
								<div>{{userData.birthDate | date : dateFormate}}</div>
							</div>

							<div class="col-md-4">
								<label>Aadhaar Card Number</label>
								<div>{{userData.aadharCardNo || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>PAN Number</label>
								<div>{{userData.panCard || 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div ng-if="showMore">
								<div class="col-md-12">
									<h5>Employment Details</h5>
								</div>

								<div class="col-md-4">
									<label>Employment Type</label>
									<div>{{userData.employmentType === 1 ? 'Salaried' :
										userData.employmentType === 2 ? 'Self Employed' : 'N.A'}}</div>
								</div>

								<div ng-if="userData.employmentType===1">
									<div class="col-md-4">
										<label>Employer Name</label>
										<div>{{userData.employerName || 'N.A'}}</div>
									</div>

									<div class="col-md-12">
										<br>
									</div>

									<div class="col-md-4">
										<label>Gross Monthly Income</label>
										<div>{{userData.grossMonthlyIncome | number : 2 ||
											'N.A'}}</div>
									</div>

									<div class="col-md-4">
										<label>Total Work Experience</label>
										<div>{{userData.totalWorkExperience || 'N.A'}}</div>
									</div>
								</div>

								<div ng-if="userData.employmentType===2">
									<div class="col-md-4">
										<label>Entity Name</label>
										<div>{{userData.entityName || 'N.A'}}</div>
									</div>

								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-12">
									<h5>Employment Address</h5>
								</div>
								<div
									data-ng-if="userData.employmentType == 2 || userData.employmentType == 1">
									<div class="col-md-6">
										<label>Premises No And Building</label>
										<div>{{userData.employmentAddress.premisesAndBuildingName
											|| 'N.A'}}</div>
									</div>

									<div class="col-md-3">
										<label>Street Name </label>
										<div>{{userData.employmentAddress.streetName || 'N.A'}}</div>
									</div>
									<div class="col-md-3">
										<label>Land Mark</label>
										<div>{{userData.employmentAddress.landMark || 'N.A'}}</div>
									</div>

									<div class="col-md-12">
										<br>
									</div>

									<div class="col-md-3">
										<label>City</label>
										<div>{{userData.employmentAddress.city.name || 'N.A'}}</div>
									</div>

									<div class="col-md-3">
										<label>State</label>
										<div>{{userData.employmentAddress.state.name || 'N.A'}}</div>
									</div>

									<div class="col-md-3">
										<label>Country</label>
										<div>{{userData.employmentAddress.country.name ||
											'N.A'}}</div>
									</div>

									<div class="col-md-3">
										<label>Pincode</label>
										<div>{{userData.employmentAddress.pincode || 'N.A'}}</div>
									</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-12">
									<h5>Permanent Address</h5>
								</div>

								<div class="col-md-6">
									<label>Premises and Building Name</label>
									<div>{{userData.permanentAdd.premisesAndBuildingName ||
										'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Street Name</label>
									<div>{{userData.permanentAdd.streetName || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{userData.permanentAdd.landMark || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{userData.permanentAdd.city.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{userData.permanentAdd.state.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{userData.permanentAdd.country.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{userData.permanentAdd.pincode || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-12">
									<h5>Communication Address</h5>
								</div>

								<div class="col-md-6">
									<label>Premises and Building Name</label>
									<div>{{userData.communicationAdd.premisesAndBuildingName
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Street Name</label>
									<div>{{userData.communicationAdd.streetName || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{userData.communicationAdd.landMark || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{userData.communicationAdd.city.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{userData.communicationAdd.state.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{userData.communicationAdd.country.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{userData.communicationAdd.pincode || 'N.A'}}</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Loan Details -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Existing Loan</b>
						</div>
						<div class="panel-body">

							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Outstanding Amount (Rs.)</th>
										<th>EMI (Rs.)</th>
										<th>Tenure (Month)</th>
										<th>Created Date</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="application in userData.applications | filter : {loanTypeId : Constant.LoanType.EXISTING_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.loanAmount || 0 | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.emi || '0' | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
									</tr>

									<tr data-ng-if="existingAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<b>New Loan</b>
						</div>
						<div class="panel-body">
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Lead Reference No</th>
										<th>Amount (Rs.)</th>
										<th>Tenure (Month)</th>
										<th>Created Date</th>
										<th>Loan Type</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="application in userData.applications  | filter : {loanTypeId : Constant.LoanType.CURRENT_LOAN}"
										class="{{application.status == acceptedStatus ? 'success' : ''}}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.leadReferenceNo || 'NA'}}</td>
										<td>{{application.loanAmount | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
										<td>{{loanCategoryList[application.loanCategoryId].name || 'NA'}}</td>
										<td><button class="btn btn-primary btn-sm" data-ng-if="(application.status == Constant.Status.OPEN || application.status == Constant.Status.ACCEPTED || application.status == Constant.Status.SANCTIONED  || application.status == Constant.Status.FORMAPPLIED || application.status == Constant.Status.DISBURSED)"
												data-ui-sref="admin.lams.application({appCode : application.applicationTypeCode, appId : application.id,empType : userData.employmentType})"
												data-toggle="modal" data-target="#responseModel">{{application.lenderButtonActionName}}</button>
									</tr>

									<tr data-ng-if="curentAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Closed Loan</b>
						</div>
						<div class="panel-body">
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Bank/Financial Institution Name</th>
										<th>Loan Account Number</th>
										<th>Amount (Rs.)</th>
										<th>Tenure (Month.)</th>
										<th>Created Date</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="application in userData.applications  | filter : {loanTypeId : Constant.LoanType.CLOSED_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.bankName || 'NA' }}</td>
										<td>{{application.bankAccNumber || 'NA' }}</td>
										<td>{{application.loanAmount | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
									</tr>

									<tr data-ng-if="closedAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
