
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">
						<b>{{brbrCoapplicantUserData.firstName}}
							{{brCoapplicantUserData.lastName}}</b></a>
					</h4>
				</div>
				
				<div class="card-content">

					<!-- Personal Details -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>CoApplicant Details</b> <a style="margin-top: -2px"
								class="btn btn-xs pull-right" ng-click="showMore = !showMore">
								<spna ng-show="!showMore">Show More</spna> <spna
									ng-show="showMore">Hide</spna>
							</a>
						</div>
						<div class="panel-body">

							<div class="col-md-12">
								<h5>Personal Details</h5>
							</div>

							<div class="col-md-4">
								<label>First Name</label>
								<div>{{brCoapplicantUserData.firstName}}</div>
							</div>

							<div class="col-md-4">
								<label>Middle Name</label>
								<div>{{brCoapplicantUserData.middleName || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>Last Name</label>
								<div>{{brCoapplicantUserData.lastName}}</div>
							</div>
							
							<div class="col-md-2">
								<img src="{{brCoapplicantUserData.documentResponse.filePath}}"
									onerror="this.onerror=null; this.src='assets/img/default-pic.jpg';"
									style="height: 200px; width: 200px" class="img-rounded"
									alt="Cinque Terre">
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-4">
								<label>Contact Number</label>
								<div>{{brCoapplicantUserData.contactNumber || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>Gender</label>
								<div>{{getGenderById(brCoapplicantUserData.gender) || 'N.A'}}</div>
							</div>

							<div class="col-md-4">
								<label>Education Qualification</label>
								<div>{{brCoapplicantUserData.eduQualification || 'N.A'}}</div>
							</div>
							
							<div class="col-md-12">
								<br>
							</div>
							
							<div class="col-md-4">
								<label>Date Of Birth</label>
								<div>{{brCoapplicantUserData.birthDate | date : dateFormate}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Aadhaar Card Number</label>
								<div>{{brCoapplicantUserData.aadharCardNo || 'N.A'}}</div>
							</div>
							
							<div class="col-md-4">
								<label>PAN Number</label>
								<div>{{brCoapplicantUserData.panCard || 'N.A'}}</div>
							</div>
							
							<div class="col-md-12">
								<br>
							</div>

							<div ng-if="showMore">
								<div class="col-md-12">
									<h5>Employment Details</h5>
								</div>

								<div class="col-md-4">
									<label>Employment Type</label>
									<div>{{brCoapplicantUserData.employmentType === 1 ? 'Salaried' :
										brCoapplicantUserData.employmentType === 2 ? 'Self Employed' : 'N.A'}}</div>
								</div>

								<div ng-if="brCoapplicantUserData.employmentType===1">
									<div class="col-md-4">
										<label>Employer Name</label>
										<div>{{brCoapplicantUserData.employerName || 'N.A'}}</div>
									</div>

<!-- 									<div class="col-md-4"> -->
<!-- 										<label>Employment Address</label> -->
<!-- 										<div>{{brCoapplicantUserData.employmentAddress || 'N.A'}}</div> -->
<!-- 									</div> -->

									<div class="col-md-12">
										<br>
									</div>

									<div class="col-md-4">
										<label>Gross Monthly Income</label>
										<div>{{brCoapplicantUserData.grossMonthlyIncome | number : 2 ||
											'N.A'}}</div>
									</div>

									<div class="col-md-4">
										<label>Total Work Experience</label>
										<div>{{brCoapplicantUserData.totalWorkExperience || 'N.A'}}</div>
									</div>
								</div>

								<div ng-if="brCoapplicantUserData.employmentType===2">
									<div class="col-md-4">
										<label>Entity Name</label>
										<div>{{brCoapplicantUserData.entityName || 'N.A'}}</div>
									</div>

<!-- 									<div class="col-md-4"> -->
<!-- 										<label>Employment Address</label> -->
<!-- 										<div>{{brCoapplicantUserData.employmentAddress || 'N.A'}}</div> -->
<!-- 									</div> -->
								</div>
								
							<div class="col-md-12">
									<br>
								</div>
								
							<div class="col-md-12">
									<h5>Employment Address</h5>
								</div>							
							<div data-ng-if="brCoapplicantUserData.employmentType == 2 || brCoapplicantUserData.employmentType == 1">
							<div class="col-md-6">
								<label>Premises No And Building</label>
								<div>{{brCoapplicantUserData.employmentAddress.premisesAndBuildingName || 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Street Name </label>
								<div>{{brCoapplicantUserData.employmentAddress.streetName || 'N.A'}}</div>
							</div>
							<div class="col-md-3">
								<label>Land Mark</label>
								<div>{{brCoapplicantUserData.employmentAddress.landMark || 'N.A'}}</div>
							</div>
							
							<div class="col-md-12">
								<br>
							</div>
							
							<div class="col-md-3">
								<label>City</label>
								<div>{{brCoapplicantUserData.employmentAddress.city.name || 'N.A'}}</div>
							</div>
							
							<div class="col-md-3">
								<label>State</label>
								<div>{{brCoapplicantUserData.employmentAddress.state.name || 'N.A'}}</div>
							</div>
							
							<div class="col-md-3">
								<label>Country</label>
								<div>{{brCoapplicantUserData.employmentAddress.country.name || 'N.A'}}</div>
							</div>
							
							<div class="col-md-3">
									<label>Pincode</label>
									<div>{{brCoapplicantUserData.employmentAddress.pincode || 'N.A'}}</div>
							</div>
						</div>
								

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-12">
									<h5>Permanent Address</h5>
								</div>

								<div class="col-md-6">
									<label>Premises and Building Name</label>
									<div>{{brCoapplicantUserData.permanentAdd.premisesAndBuildingName || 'N.A'}}</div>
								</div>
                                                            
                                                                <div class="col-md-3">
									<label>Street Name</label>
									<div>{{brCoapplicantUserData.permanentAdd.streetName || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{brCoapplicantUserData.permanentAdd.landMark || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{brCoapplicantUserData.permanentAdd.city.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{brCoapplicantUserData.permanentAdd.state.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{brCoapplicantUserData.permanentAdd.country.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{brCoapplicantUserData.permanentAdd.pincode || 'N.A'}}</div>
								</div>
                                                            
                                                                <div class="col-md-12">
									<br>
								</div>

								<div class="col-md-12">
									<h5>Communication Address</h5>
								</div>

								<div class="col-md-6">
									<label>Premises and Building Name</label>
									<div>{{brCoapplicantUserData.communicationAdd.premisesAndBuildingName || 'N.A'}}</div>
								</div>
                                                            
                                                                <div class="col-md-3">
									<label>Street Name</label>
									<div>{{brCoapplicantUserData.communicationAdd.streetName || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{brCoapplicantUserData.communicationAdd.landMark || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{brCoapplicantUserData.communicationAdd.city.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{brCoapplicantUserData.communicationAdd.state.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{brCoapplicantUserData.communicationAdd.country.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{brCoapplicantUserData.communicationAdd.pincode || 'N.A'}}</div>
								</div>
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
