
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">
						<b>{{userData.userTypName}} Profile </b></a>
					</h4>
					<p class="category">
						<b>Update Additional Details in Profile</b>
					</p>
				</div>
				<div class="card-content">
				
				<div class="panel panel-default">
						<div class="panel-heading">
							<b>Lender Details</b>
						</div>
						<div class="panel-body">

							<div class="col-md-12">
								<h5><b>Personal  Details</b></h5>
							</div>

							<div class="col-md-4">
								<label>Name</label>
								<div>{{userData.firstName}} {{userData.middleName}} {{userData.lastName}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Bank</label>
								<div>{{userData.bank.name || 'N.A'}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Application</label>
								<div>{{userData.applications[0].applicationTypeName || 'N.A'}}</div>
							</div>
							<div class="col-md-12">
								<br>
							</div>
							
							<div class="col-md-12">
								<h5><b>Contact Details</b></h5>
							</div>
							
							<div class="col-md-4">
								<label>Email</label>
								<div>{{userData.email || 'N.A'}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Mobile</label>
								<div>{{userData.mobile || 'N.A'}}</div>
							</div>
							
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Application Details</b>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Lead Reference No.</th>
										<th>Application</th>
										<th>Status</th>
										<th>PD Report Status</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat-start="app in applications">
										<td>{{$index + 1}}</td>
										<td>{{app.leadReferenceNo || Constant.NA }}</td>
										<td>{{app.applicationTypeName || Constant.NA}}</td>
										<td>{{app.status || 'NA'}}</td>
										<td>{{app.pdStatus || 'NA'}}</td>
									</tr>
									<tr data-ng-repeat-end class="bg-info">
									<tr data-ng-if="isEmpty(applications)">
										<td colspan="7" class="alert alert-default text-center">No Applications!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- Individual configuration -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Configuration</b>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="card">
									<div class="card-content">
										<form name="pdAgencyConfigForm"
											data-ng-submit="updateUserConfigurationDetail()">
											<div class="row">
												<div class="col-md-9">
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Salutation </label> <input
																	type="checkbox" name="salutation"
																	data-ng-model="userData.salutation">
															</div>
														</div>
	
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">First Name </label> <input
																	type="checkbox" name="firstName"
																	data-ng-model="userData.firstName">
															</div>
														</div>
	
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Middle Name</label> <input
																	type="checkbox" name="middleName"
																	data-ng-model="userData.middleName">
															</div>
														</div>
													</div>
	
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Last Name </label> <input
																	type="checkbox" name="lastName"
																	data-ng-model="userData.lastName">
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Gender</label> <input
																	type="checkbox" name="lastName"
																	data-ng-model="userData.gender">
															</div>
														</div>
	
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Date Of Birth </label> <input
																	type="checkbox" name="birthDate"
																	data-ng-model="userData.birthDate">
															</div>
														</div>
													</div>
	
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">PAN Number</label> <input
																	type="checkbox" name="panCard"
																	data-ng-model="userData.panCard">
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Aadhaar Card Number
																</label> <input type="checkbox" name="aadharCardNo"
																	data-ng-model="userData.aadharCardNo">
															</div>
														</div>
	
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Education
																	Qualification</label> <input type="checkbox"
																	name="eduQualification"
																	data-ng-model="userData.eduQualification">
															</div>
														</div>
													</div>
	
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label">Contact Number </label> <input
																	type="checkbox" name="contactNumber"
																	data-ng-model="userData.contactNumber">
															</div>
														</div>
	
													</div>
												</div>
												<div class="col-md-3">
													<div class="row">
														<div class="col-md-4">
															<label class="control-label">Profile Image</label> <input
																type="checkbox" name="profileImage"
																data-ng-model="userData.profileImage">
														</div>
													</div>
												</div>
											</div>
											<br />
	
											<div class="row">
												<div class="col-md-3">
													<div class="row">
														<div class="col-md-4">
															<label class="control-label">Communication Address</label>
															<input type="checkbox" name="communicationAdd"
																data-ng-model="userData.communicationAdd">
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="row">
														<div class="col-md-4">
															<label class="control-label">Permanent Address</label> <input
																type="checkbox" name="permanentAdd"
																data-ng-model="userData.permanentAdd">
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="row">
														<div class="col-md-4">
															<label class="control-label">Employment Address</label> <input
																type="checkbox" name="employmentAddress"
																data-ng-model="userData.employmentAddress">
														</div>
													</div>
												</div>
											</div>
											<br />
	
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label class="control-label">Employment</label> <input
															type="checkbox" data-ng-model="userData.employment">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Employer Name </label> <input
															type="checkbox" data-ng-model="userData.employerName">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Gross Monthly Income </label>
														<input type="checkbox"
															data-ng-model="userData.grossMonthlyIncome">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Total Work Experience</label>
														<input type="checkbox"
															data-ng-model="userData.totalWorkExperience">
													</div>
												</div>
											</div>
											<br />
	
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Co Applicant Details</label> <input
															type="checkbox"
															data-ng-model="userData.coApplicantDetails">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Borrowers Documents </label> <input
															type="checkbox" data-ng-model="userData.brDocuments">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Borrower Responded
															Documents</label> <input type="checkbox"
															data-ng-model="userData.respondedDocuments">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Co Applicants
															Documents</label> <input type="checkbox"
															data-ng-model="userData.coApplicantDocuments">
													</div>
												</div>
											</div>
											<br />
	
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Existing Loan Details</label>
														<input type="checkbox"
															data-ng-model="userData.existingLoan">
													</div>
												</div>
	
												<div class="col-md-3">
													<div class="form-group">
														<label class="control-label">Closed Loan Details </label> <input
															type="checkbox" data-ng-model="userData.closedLoan">
													</div>
												</div>
											</div>
	
											<div class="row">
												<div class="col-md-8"></div>
												<div class="col-md-4 ">
													<button type="submit" class="btn btn-primary pull-right"
														data-ng-disabled="isDisable">Submit</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
