<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Promo Codes</h4>
					<p class="category">All Promo Codes in the System</p>
					<button class="btn btn-xs btn-success pull-right" style="margin-top: -35px" ng-show="!showEditMode" ng-click="showEditMode = true">Add New Promo Code</button>
					<button class="btn btn-xs btn-default pull-right" style="margin-top: -35px" ng-show="showEditMode" ng-click="showEditMode = false">Cancel</button>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="container-fluid" ng-show="showEditMode">
						<div class="row">
							<div class="card">
								<div class="card-content">
									<form name="forms.promoCodeForm"
										data-ng-submit="generatePromoCodeManually()" novalidate>
										<h4>Enter Promo Code Details</h4>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Application<span class="text-danger">*</span></label>
													<select class="form-control"
														data-ng-model="promoCodeData.applicationTypeId"
														data-ng-options="appType.id as appType.name for appType in applicationTypes"
														required>
														<option value="">Select Application</option>
													</select>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<span class="align-middle">Is Active &nbsp;
													<input type="checkbox" name="isActive" data-ng-model="promoCodeData.isActive"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Promo Code<span class="text-danger">*</span></label>
													<input type="text" name="promoCode" id="promoCode" data-ng-model="promoCodeData.promoCode"/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Promo Code Description<span class="text-danger">*</span></label>
													<textarea class="form-control" data-ng-model="promoCodeData.description" id="description" name="description" ></textarea>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<button type="submit" class="btn btn-primary pull-right"  data-ng-disabled="isDisable">Generate Promo Codes</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-body">
							<span>Promo Codes <span class="badge">{{promoCodes.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Promo Code</th>
										<th>Product</th>
										<th>Created Date</th>
										<th>Active</th>
										<th>Total Used Count</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="promoCode in promoCodes"
										class="bg-info">
										<td>{{$index + 1}}</td>
										<td>{{promoCode.promoCode || 'NA' }}</td>
										<td>{{promoCode.product || 'NA'  }}</td>
										<td>{{promoCode.createdDate | date : dateFormate}}</td>
										<td>{{promoCode.isActive || 'NA' }}</td>
										<td>{{promoCode.usedBy || '0' }}</td>
										<td><button type="button" class="btn btn-primary btn-sm" ng-click="editPromoCodeData(promoCode)">Edit</button></td>
									</tr>
									<tr data-ng-if="isEmpty(promoCodes)">
										<td colspan="8" class="alert alert-default text-center">No Promo Codes Added Yet!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>