<div class="logo">
	<h2 class="text-center">Admin Panel</h2>
</div>
<div class="sidebar-wrapper">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.dashboard"> <i class="material-icons">dashboard</i>
				<p>Dashboard</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.lenders"> <i class="material-icons">person</i>
				<p>Lenders</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.borrowers"> <i class="material-icons">person</i>
				<p>Borrowers</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.channelPartners"> <i
				class="material-icons">person</i>
				<p>Channel Partners</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.channelPartnersPayouts"> <i
				class="material-icons">dashboard</i>
				<p>Payouts</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.Report"> <i
				class="material-icons">dashboard</i>
				<p>Reports</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.Banks"> <i
				class="material-icons">dashboard</i>
				<p>Banks</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.LoanTypes"> <i
				class="material-icons">dashboard</i>
				<p>Loan Types</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.pdUserMgmt"> <i
				class="material-icons">dashboard</i>
				<p>Agency Management</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.pdUserconfig"> <i
				class="material-icons">dashboard</i>
				<p>Agency Configuration</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="admin.lams.promoCodesMgmt"> <i
				class="material-icons">dashboard</i>
				<p>Promo Codes Management</p>
		</a></li>
	</ul>
</div>