
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Bank Management</h4>
					<p class="category">You add or edit bank details here</p>
					<button class="btn btn-xs btn-success pull-right"
						style="margin-top: -35px" ng-show="!showEditMode"
						ng-click="showEditMode = true">Add Bank</button>
					<button class="btn btn-xs btn-default pull-right"
						style="margin-top: -35px" ng-show="showEditMode"
						ng-click="showEditMode = false">Cancel</button>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="container-fluid" ng-show="showEditMode">
						<div class="row">
							<div class="card">
								<div class="card-content">
									<form name="forms.bankForm"
										data-ng-submit="updateBankDetails()" novalidate>
										<h4>Enter Bank Details</h4>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Bank Name <span
														class="text-danger">*</span></label> <input id="userEmail"
														type="text" name="bankName" class="form-control"
														data-ng-model="userData.name" required>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Code <span
														class="text-danger">*</span></label> <input type="text"
														name="code" class="form-control"
														data-ng-model="userData.code" required>
												</div>
											</div>
											
										</div>

										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4">
												<div class="pull-right">
													<span class="align-middle">Is Active &nbsp;<input
														type="checkbox" name="isActive"
														data-ng-model="userData.isActive"></span>
													<button type="submit" class="btn btn-primary">Submit</button>
													<button type="submit" data-ng-if="userData.id"
														data-ng-click="resetUser()" class="btn btn-default">Reset</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-body">
							<span>Banks <span class="badge">{{allBankList.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table ng-table="userTable" class="table">
								<thead class="text-primary">
									<tr>
										<th>Sr. No.</th>
										<th>Name</th>
										<th>Code</th>
										<th>Active</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="bankRow in allBankList">
										<td>{{$index + 1}}</td>
										<td>{{bankRow.name}}</td>
										<td>{{bankRow.code || Constant.NA}}</td>
										<td><is-active status="{{bankRow.isActive}}"></is-active></td>
										<td>
											<button type="button" class="btn btn-primary btn-sm" ng-click="editBankData(bankRow)">Edit</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>