<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">{{currentCaptionAgencyType}} Agency
						Configuration</h4>
					<p class="category">Configuration of
						{{currentCaptionAgencyType}} Agencies in the System</p>
				</div>
				<br />
				<div class="panel-heading">
					<b>Agency Type</b> <select class="form-control"
						data-ng-model="agencyType"
						data-ng-options="agnTypes as agnTypes for agnTypes in agenciesTypes"
						data-ng-change="toggleAgenciesTypes(agencyType)">
					</select>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="container-fluid">
						<div class="row">
							<div class="card">
								<div class="card-content">
									<form name="pdAgencyConfigForm"
										data-ng-submit="updateUserConfigurationDetail()">
										<div class="row">
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Salutation </label> <input
																type="checkbox" name="salutation"
																data-ng-model="userData.salutation">
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">First Name </label> <input
																type="checkbox" name="firstName"
																data-ng-model="userData.firstName">
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Middle Name</label> <input
																type="checkbox" name="middleName"
																data-ng-model="userData.middleName">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Last Name </label> <input
																type="checkbox" name="lastName"
																data-ng-model="userData.lastName">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Gender</label> <input
																type="checkbox" name="lastName"
																data-ng-model="userData.gender">
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Date Of Birth </label> <input
																type="checkbox" name="birthDate"
																data-ng-model="userData.birthDate">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">PAN Number</label> <input
																type="checkbox" name="panCard"
																data-ng-model="userData.panCard">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Aadhaar Card Number
															</label> <input type="checkbox" name="aadharCardNo"
																data-ng-model="userData.aadharCardNo">
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Education
																Qualification</label> <input type="checkbox"
																name="eduQualification"
																data-ng-model="userData.eduQualification">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label">Contact Number </label> <input
																type="checkbox" name="contactNumber"
																data-ng-model="userData.contactNumber">
														</div>
													</div>

												</div>
											</div>
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-4">
														<label class="control-label">Profile Image</label> <input
															type="checkbox" name="profileImage"
															data-ng-model="userData.profileImage">
													</div>
												</div>
											</div>
										</div>
										<br />

										<div class="row">
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-4">
														<label class="control-label">Communication Address</label>
														<input type="checkbox" name="communicationAdd"
															data-ng-model="userData.communicationAdd">
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-4">
														<label class="control-label">Permanent Address</label> <input
															type="checkbox" name="permanentAdd"
															data-ng-model="userData.permanentAdd">
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-4">
														<label class="control-label">Employment Address</label> <input
															type="checkbox" name="employmentAddress"
															data-ng-model="userData.employmentAddress">
													</div>
												</div>
											</div>
										</div>
										<br />

										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">Employment</label> <input
														type="checkbox" data-ng-model="userData.employment">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Employer Name </label> <input
														type="checkbox" data-ng-model="userData.employerName">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Gross Monthly Income </label>
													<input type="checkbox"
														data-ng-model="userData.grossMonthlyIncome">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Total Work Experience</label>
													<input type="checkbox"
														data-ng-model="userData.totalWorkExperience">
												</div>
											</div>
										</div>
										<br />

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Co Applicant Details</label> <input
														type="checkbox"
														data-ng-model="userData.coApplicantDetails">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Borrowers Documents </label> <input
														type="checkbox" data-ng-model="userData.brDocuments">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Borrower Responded
														Documents</label> <input type="checkbox"
														data-ng-model="userData.respondedDocuments">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Co Applicants
														Documents</label> <input type="checkbox"
														data-ng-model="userData.coApplicantDocuments">
												</div>
											</div>
										</div>
										<br />

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Existing Loan Details</label>
													<input type="checkbox"
														data-ng-model="userData.existingLoan">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Closed Loan Details </label> <input
														type="checkbox" data-ng-model="userData.closedLoan">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4 ">
												<button type="submit" class="btn btn-primary pull-right"
													data-ng-disabled="isDisable">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="card">
								<div class="col-md-12">
									<h4 class="title">
										<b>Questions </b>
									</h4>
									<p class="category">
										<b>List of all Questions</b>
									</p>
								</div>
								<div class="card-content">
									<form name="agencyInterviewQuestionConfigForm"
										data-ng-submit="saveInterviewQuestions()">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<button type="button"
														class="btn btn-sm btn-info pull-right"
														data-ng-click="addMore()">Add More</button>
												</div>
											</div>
										</div>

										<div class="row" data-ng-repeat="question in allQuestions">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Question Description </label>
													<input type="text" name="question.questionDesc" class="form-control"
														data-ng-model="question.questionDesc">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Enable/Disable </label>
													<input type="checkbox" name="question.isActive" data-ng-model="question.isActive">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4 ">
												<button type="submit" class="btn btn-primary pull-right"
													data-ng-disabled="isDisable">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>