<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Channel Partners Payouts</h4>
					<p class="category">List of Channel Partner Payout Structure System</p>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<span>Products <span class="badge">{{allPayOuts.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>
											<button type="button"
												ng-click="expandAll(allExpanded = !allExpanded)">
												<span ng-bind="allExpanded ? '-' : '+'"></span>
											</button>
										</th>
										<th>Id</th>
										<th>Name</th>
										<th>Code</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="payout in allPayOuts">
										<td>
											<button ng-click="expanded = !expanded" expand>
												<span ng-bind="expanded ? '-' : '+'"></span>
											</button>
										</td>
										<td ng-bind="payout.id"></td>
										<td ng-bind="payout.name"></td>
										<td ng-bind="payout.code"></td>
									</tr>
									<tr ng-repeat-end ng-show="expanded">
										<td></td>
										<td colspan="6">
											<form ng-submit="addNew()">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th>Disbursment From</th>
															<th>Disbursment To</th>
															<th>Percentage (%)</th>
															<th>Remove</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="payDetails in payout.payOuts">
															<td><input type="number" class="form-control" ng-model="payDetails.disbursmentFromAmt" required /></td>
															<td><input type="number" class="form-control" ng-model="payDetails.disbursmentToAmt" required /></td>
															<td><input type="number" class="form-control" ng-model="payDetails.payOutInPerc" required /></td>
															<td><input type="button" class="btn btn-infos btn-sm" ng-click="remove(payDetails, $parent.$index, $index)" value="Delete"/></td>
														</tr>
														<tr data-ng-if="payout.payOuts < 1">
															<td colspan="4">No Payout Is Configured</td>
														</tr>
														<tr>
															<td colspan="4" align="right">
																<!-- <input type="button" class="btn btn-primary addnew pull-right" value="Edit" ng-click="view($index)"> --> 
																<input type="button" class="btn btn-primary addnew pull-right" value="Add New" ng-click="addNew($index)">
																<input type="button" class="btn btn-primary addnew pull-right" value="Save" ng-click="savePayoutFor($index)">
															</td>
														</tr>
													</tbody>
												</table>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>